.input-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
}

.input {
  background: #FFFFFF;
  border: 1px solid #7A7A7A;
  border-radius: 30px;
  padding: 0 16px;
  color: #7A7A7A;
  width: 100%;
  height: 44px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  font-family: 'Gotham Pro'!important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px!important;
}

.label {
  padding-bottom: 10px;
  color: #270205;
}

.input-field.valid .label {
  color: #219B4B;
}

.input-field.invalid .label {
  color: #E30016;
}

.input-field.valid .select:after,
.input-field.valid .select {
  border-color: #219B4B;
}

.input-field.valid .select .current {
  color: #219B4B;
}

.input-field.invalid .select:after,
.input-field.invalid .select {
  border-color: #E30016;
}

.input-field.invalid .select .current {
  color: #E30016;
}

.input-field.valid .input {
  color: #219B4B;
  border-color: #219B4B;
}

.input-field.invalid .input {
  color: #E30016;
  border-color: #E30016;
}

.pay-form .input-field.invalid .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 3px 11px rgba(39, 2, 5, 0.06);
          box-shadow: 0px 3px 11px rgba(39, 2, 5, 0.06);
  border-radius: 10px;
  padding: 18px 22px;
  margin-top: 20px;
  max-width: 100%;
  width: 100%;
}

.input-field--checkbox .error {
  margin-top: 0px;
  margin-bottom: 20px;
}

.error svg {
  display: block;
  min-width: 34px;
  min-height: 34px;
}

.error p {
  padding-left: 15px;
  font-size: 14px;
  color: #270205;
}

.nice-select {
  background: #FFFFFF;
  border-radius: 30px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 3px 11px rgba(39, 2, 5, 0.06));
          filter: drop-shadow(0px 3px 11px rgba(39, 2, 5, 0.06));
  color: #7A7A7A;
  font-family: 'Gotham Pro'!important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px!important;
  border: solid 1px transparent;
}

.nice-select .option,
.nice-select .current {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: transparent;
}

.nice-select {
  z-index: 1;
}

.nice-select.open {
  z-index: 9;
}

.nice-select.open .list {
  max-width: 100%;
}

.input::-webkit-input-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center; 
}

.input::-moz-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center; 
}

.input:-ms-input-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center; 
}

.input::-ms-input-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center; 
}

.input::placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center; 
}

::-webkit-input-placeholder {
  text-align: center;
}
  
:-ms-input-placeholder {
  text-align: center; 
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  border: auto;
  background: auto;
  font-weight: normal;
  color: auto;
}

.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox>p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  color: #000000;
}

.custom-checkbox>p::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #E30016;
  border-radius: 4px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox>input:checked+p::before {
  background-image: url('../img/checkbox-fill.svg');
  background-size: contain;
  border: 0;
  border-radius: 0;
}
