.range-slider {
  position: relative;
  width: 100%;
  height: 2.64px;
  background-color: #DEDEDE;
  margin: 31px 0 24px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.range-slider .ui-slider-handle {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 29px;
  height: 29px;
  border: 3.52px solid #E30016!important;
  background-color: #ffffff!important;
  background: #ffffff!important;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.ui-slider .ui-slider-range {
  height: 3.52px;
  background: #E30016;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ui-state-focus,
.ui-state-hover{
  border-color: transparent !important;
}

.ui-widget-content {
  border: 0;
  background: #DEDEDE;
}

